DB_USER =                            
DB_PASS =                   
DB_HOST =  
DB_NAME =                 
PORT =                               
BE_HOST = 
FE_HOST = 
CORS_ORIGINS =
# In CORS_ORIGINS we set the URLs that are to be permitted by cors. If we have several, we simply add them one after the other with a comma. For example:
# CORS_ORIGINS=http://localhost:3000,http://example.com
